version: "3"
services:
  mongo:
    image: mongo
    container_name: "eadapi-mongo"
    restart: "always"
    volumes:
      - ./.dbcache/mongo/data:/data/db
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    networks:
      - backend
  api:
    image: node:12.16-slim
    container_name: "eadapi-api"
    ports:
      - "3005:3000"
    working_dir: "/home/piero/developer_01/codes/ead-api"
    volumes:
      - ./:/home/piero/developer_01/codes/ead-api
    command: "npm start"
    networks:
      - backend
  redis:
    image: redis:5.0.5-alpine
    container_name: "eadapi-redis"
    ports:
      - "6378:6379"
    networks:
      - backend

networks:
  backend:
    driver: "bridge"
